
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{overflow-x:hidden}
body{
	background-color: lightgray;
	padding: 0;
	margin:0;
	line-height: 1.5;
	font-size: 15px;
}
html,body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif;
	font-weight:400;
	margin:10px 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.my-bar{
	
	position: fixed;
	width: 100%;
	top: 0px;
	font-size: 24px !important;
	color: #ffffff;
	background-color: #292c30;
	overflow: hidden;
}
.my-bar:before,.my-bar:after{
	content:"";
	display:table;
	clear:both;
}
.my-bar .my-btn{
	font-size: 24px !important;
	white-space: normal;
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	outline: 0;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
}
.my-logo{
	padding: 8px 16px;
	width: auto;
	border: none;
	display: block;
	outline: 0;
	float: right;
}
.search{
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 35px;
	padding: 10px;
	margin-left: 11.25%;
	margin-top: 8px;
	width: 55%;
	border: 2px solid #076bf2;
	border-radius: 3px;
  	color: #999;
	float: left;
}
.search:focus {
	border-color: #aaa;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
	outline: 0;
}
.submit{
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	border: 1px solid #00748f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #076bf2;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #076bf2;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #076bf2;
	color: #fafafa;
	cursor: pointer;
	height: 34px;
	margin-top: 8px;
	margin-left: 5px;
	float: left;
	font: 15px Arial, Helvetica;
	padding: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	width: 7%;
}
.submit:hover,
.submit:focus {
	background-color: #31b2c3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
	background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
	background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.submit:active {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	outline: 0;
}

.submit::-moz-focus-inner {
	border: 0;
}

nav{
	display: block;
}
.my-sidebar{
	animation: animateleft 0.4s;
	top: 50px;
	display: block !important;
	color: #000000;
	background-color: #ffffff;
	height: 100%;
	position: fixed!important;
	overflow: auto;

}
.my-container{
	padding: 0.01em 16px;
	color: #000000;
}
.my-bar-block{
	padding-bottom: 50px;
}
.my-bar-block .my-bar-item{
	width: 100%;
	display: block;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0;
	padding: 8px 16px !important;
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
	color: #000000;
}
.my-blue{
	color: #ffffff!important;
	background-color: #2196f3;
}
.my-bar-item:hover{
	color:#000!important;
	background-color:#ccc!important;
}

.mainContent{
	float: right;
	width: 80%;
	margin-top:20px; 
	padding-top: 35px;
	padding-left: 16px;
}
.gallery {
	background-color: #fff;
    border: 1px solid #292c30;
}
.gallery:hover {
    border: 1px solid #076bf2;
}

.gallery img {
    width: 100%;

    
}

.desc {
    
    font-size:18px; 
    text-align: center;
}
.pdesc{
    text-align: center;	
}
.cdesc{
    font-size:18px; 
    text-align: center;	
}


.mainContent .img-container{
    padding: 0 6px;
    float: left;
    width: 25%;
}

#video_controls_bar{
	
	background-color: #000;
	color: #ccc;
	padding: 0;
}
#video_player_box{
	width: 97%;
	background-color: #000;
	margin:auto;
}
.u-details{
	width: 97%;
	margin: auto;
	background: #fff;
}
.seek-bar{
	width: 100%;
	
}
.seek-bar input[type=range] {
  -webkit-appearance: none;
  margin: 0 0;
  width: 100%;
}
.seek-bar input[type=range]:focus {
  outline: none;
}
.seek-bar input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  animate: 0.2s;
  
  background: #3071a9;
  border-radius: 5px;
  border: 0.2px solid #46bc0b;
}
.seek-bar input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
.seek-bar input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.seek-bar input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 5px;
  border: 0.2px solid #46bc0b;
}
.seek-bar input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
}
.seek-bar input[type=range]::-ms-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.seek-bar input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #46bc0b;
  border-radius: 3px;
  
}
.seek-bar input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #46bc0b;
  border-radius: 5px;
  
}
.seek-bar input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
 height: 12px;
  width: 12px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
}
.seek-bar input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.seek-bar input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

button#playpausebtn{
	background: url('../static/img/resume.jpg');
	background-size: cover;
	border:none;
	width: 25px;
	height: 25px;
	cursor: pointer;
	
}
button#playpausebtn:hover{
	border:0.5px solid #46bc0b;
}
.playimg{
	cursor: pointer;
}
.timer{
	width: 20%;
	font-family: "Times New Roman";
	text-align: center;
	
}
.playbtns{

	width:4%;
}
.speak{
	width: 20%;
}
.sound{
	width:30%;
}
.sharesetting{
	width: 4%;
}
.empty{
	width: 20%;
}

.speak input[type=range] {
  -webkit-appearance: none;
  margin: 3px 0;
}
.speak input[type=range]:focus {
  outline: none;
}
.speak input[type=range]::-webkit-slider-runnable-track {
  
  height: 4.4px;
  cursor: pointer;
  animate: 0.2s;
  
  background: #3071a9;
  border-radius: 5px;
  border: 0.2px solid #46bc0b;
}
.speak input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  
}
.speak input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.speak input[type=range]::-moz-range-track {
  height: 4.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 5px;
  border: 0.2px solid #46bc0b;
}
.speak input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
}
.speak input[type=range]::-ms-track {
  height: 4.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.speak input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #46bc0b;
  border-radius: 3px;
  
}
.speak input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #46bc0b;
  border-radius: 5px;
  
}
.speak input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
 height: 12px;
  width: 12px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
}
.speak input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.speak input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.vjs-fade-out {
  display: block;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility 1.5s, opacity 1.5s;
     -moz-transition: visibility 1.5s, opacity 1.5s;
      -ms-transition: visibility 1.5s, opacity 1.5s;
       -o-transition: visibility 1.5s, opacity 1.5s;
          transition: visibility 1.5s, opacity 1.5s;

  /* Wait a moment before fading out the control bar */
  -webkit-transition-delay: 2s;
     -moz-transition-delay: 2s;
      -ms-transition-delay: 2s;
       -o-transition-delay: 2s;
          transition-delay: 2s;
}

/* for registration*/

.userContainer{
	width: 100%;
	margin-top:10px; 
}
.userContainer:before, .userContainer:after{
	content: "";
	clear: both;
	display: table;
}
.reg{
	width: 49%;
	margin: auto;
	color: #076bf2;
	
}

.login{
	width: 49%;
	margin: auto;
	color: #076bf2;
	text-align: center;

}

.frmContent{
	margin-top:130px; 
	width: 100%;
	border: 2px solid #076bf2;
	height: 300px;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(37, 50, 230, 0.79);
	-moz-box-shadow:    0px 0px 22px 0px rgba(37, 50, 230, 0.79);
	box-shadow:         0px 0px 22px 0px rgba(37, 50, 230, 0.79);
}
.reg h2{
	text-align: center;
}
.regContent{
	margin-top: 20px; 
	width: 100%;
	height: 550px;
	border: 2px solid #076bf2;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(37, 50, 230, 0.79);
	-moz-box-shadow:    0px 0px 22px 0px rgba(37, 50, 230, 0.79);
	box-shadow:         0px 0px 22px 0px rgba(37, 50, 230, 0.79);
}
.frmContent input{
	width: 80%;
	padding: 5px;
	margin: 5px;
	font-size: 15px;
	border: 1px solid #076bf2;
}
.regContent input{
	width: 80%;
	padding: 5px;
	margin-left: 50px; 
	font-size: 15px;
	border: 1px solid #076bf2;
}

.regContent label{
	padding: 5px;
	margin-left: 45px;
	color: #000;
	font-size: 16px;
}

.frmContent a{
	text-decoration: none;
	padding-left: 5px;
}
.btnUser{
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	border: 1px solid #00748f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #076bf2;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #076bf2;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #076bf2;
	color: #fafafa;
	cursor: pointer;
	height: 34px;
	
	font: 15px Arial, Helvetica;
	padding: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	width: 7%;

}
.btnSub:hover, .btnUser:hover,
.btnSub:focus, .btnUser:focus {
	background-color: #31b2c3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
	background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
	background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.btnSub:active, .btnUser:active {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	outline: 0;
}

.btnSub::-moz-focus-inner, .btnUser::-moz-focus-inner {
	border: 0;
}
.errorMsg{
	color: red;
	font-size: 20px;
}
.successMsg{
	color: green;
	font-size: 20px;
}
.channel-container{
	width: 95%;
	
	margin: auto;
	border: 2px solid #076bf2;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(37, 50, 230, 0.79);
	-moz-box-shadow:    0px 0px 22px 0px rgba(37, 50, 230, 0.79);
	box-shadow:         0px 0px 22px 0px rgba(37, 50, 230, 0.79);
}
.divide:before, .divide:after{
	content: "";
	clear: both;
	display: table;
}
.channel-container .left-row{
	float: left;
	width: 48%;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.channel-container .right-row{
	float: right;
	width: 48%;
}
.linkbar:before, .linkbar:after{
	content: "";
	clear: both;
	display: table;
}
.channel-container .right-row .linkbar{
	float: left;
	margin: 70px 20px 70px 20px;
}
.channel-container .right-row .linkbar a{
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	margin-left: 20px;
}
.img-circle{
	float: left;
	border-radius: 150px;
}
.img-circle1{
	border-radius: 150px;
}
.channel-container .left-row .labelbar{
	float: left;
	margin: 55px 20px 55px 20px;	
}
.channel-container .left-row .labelbar label{
	font-size: 26px;
	font-weight: bold;
}
.space{
	padding: 30px;
}
.space label{
	font-size: 26px;
	font-weight: bold;	
}
.padd-top-chname{
	margin-top: 40px;
	font-size: 22px;
	font-weight: bold;
	text-align: center; 
}
.padd-top-tag{
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	text-align: center; 	
}
.padd-top-btn{
	margin-top: 10px;
	text-align: center;
}
.btnSub{
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	border: 1px solid #00748f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #076bf2;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #076bf2;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #076bf2;
	color: #fafafa;
	cursor: pointer;
	height: 34px;
	
	font: 15px Arial, Helvetica;
	padding: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
}
.profile-container{
	width: 60%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 18px;
}
.channel{
	width: 95%;
	margin: auto;
	border: 2px solid #076bf2;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(37, 50, 230, 0.79);
	-moz-box-shadow:    0px 0px 22px 0px rgba(37, 50, 230, 0.79);
	box-shadow:         0px 0px 22px 0px rgba(37, 50, 230, 0.79);
}
.titleBox{
	width: 100%;
	float: left;
}
.channel:before, .channel:after{
	content: "";
	clear: both;
	display: table;
}
.titleBox:before, .titleBox:after{
	content: "";
	clear: both;
	display: table;
}
.left-box{
	float: left;
	width: 48%;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.right-box{
	float: right;
	width: 48%;
}
.videos{
	width: 100%;
	padding-bottom: 20px;
}
.video-box{
	padding: 0 6px;
    float: left;
    width: 25%;
}
.video-gallery{
	width: 100%;
	border: 1px solid #292c30;
}
.video-gallery:hover {
    border: 2px solid #076bf2;
}

.video-gallery img {
    width: 100%;
    
}
.empty-space{
	padding: 30px;
}



.video-container{
	width: 100%;
	margin: auto;
}
.video-container .channel-nav{
	width: 99%;
	margin: auto;
}
.channel-nav:before, .channel-nav:after{
	content:"";
	clear: both;
	display: table;
}
.left-nav{
	width: 49%;
	float: left;
}
.left-nav a{
	text-decoration: none;
	font-size: 16px;
	color: #333;
}
.img-nav{
	float: left;
}
.img-nav img{
	border-radius: 50px;
}
.link-nav{
	float: left;
	padding: 10px;
}
.right-nav{
	width: 49%;
	float: right;
	padding-right: 20px;
}
.right-nav a{
	text-decoration: none;
	height: 22px;
	float: right;
}
.right-nav label{
	background: #fff;
	float: right;
	font-size: 16px;
}
.right-nav button{
	background-color: #fff;
	border:none;
	float: right;
}

